body {
    background-color: #e9ece5;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* --------------------------------

Primary style

-------------------------------- */
*, *::after, *::before {
    box-sizing: border-box;
}

/* --------------------------------

Main Components

-------------------------------- */
.cd-schedule {
    position: relative;
    margin: 2em 0;
}

.cd-schedule::before {
    /* never visible - this is used in js to check the current MQ */
    content: 'mobile';
    display: none;
}

@media only screen and (min-width: 800px) {
    .cd-schedule {
        width: 90%;
        max-width: 1400px;
        margin: 2em auto;
    }
    .cd-schedule::after {
        clear: both;
        content: "";
        display: block;
    }
    .cd-schedule::before {
        content: 'desktop';
    }
}

.cd-schedule .timeline {
    display: none;
}

@media only screen and (min-width: 800px) {
    .cd-schedule .timeline {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        padding-top: 50px;
    }
    .cd-schedule .timeline li {
        position: relative;
        height: 50px;
    }
    .cd-schedule .timeline li::after {
        /* this is used to create the table horizontal lines */
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: #EAEAEA;
    }
    .cd-schedule .timeline li:last-of-type::after {
        display: none;
    }
    .cd-schedule .timeline li span {
        display: none;
    }
}

@media only screen and (min-width: 1000px) {
    .cd-schedule .timeline li::after {
        width: calc(100% - 60px);
        left: 60px;
    }
    .cd-schedule .timeline li span {
        display: inline-block;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .cd-schedule .timeline li:nth-of-type(2n) span {
        display: none;
    }
}

.cd-schedule .events {
    position: relative;
    z-index: 1;
}

.cd-schedule .events .events-group {
    margin-bottom: 30px;
}

.cd-schedule .events .top-info {
    width: 100%;
    padding: 0 5%;
}

.cd-schedule .events .top-info > span {
    display: inline-block;
    line-height: 1.2;
    margin-bottom: 10px;
    font-weight: bold;
}

.cd-schedule .events .events-group > ul {
    position: relative;
    padding: 0 5%;
    /* force its children to stay on one line */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

.cd-schedule .events .events-group > ul::after {
    /* never visible - used to add a right padding to .events-group > ul */
    display: inline-block;
    content: '-';
    width: 1px;
    height: 100%;
    opacity: 0;
    color: transparent;
}

.cd-schedule .events .single-event {
    /* force them to stay on one line */
    -ms-flex-negative: 0;
    flex-shrink: 0;
    float: left;
    height: 150px;
    width: 70%;
    max-width: 300px;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.2);
    margin-right: 20px;
    -webkit-transition: opacity .2s, background .2s;
    transition: opacity .2s, background .2s;
}

.cd-schedule .events .single-event:last-of-type {
    margin-right: 5%;
}

.cd-schedule .events .single-event a {
    display: block;
    height: 100%;
    padding: .8em;
}

@media only screen and (min-width: 550px) {
    .cd-schedule .events .single-event {
        width: 40%;
    }
}

@media only screen and (min-width: 800px) {
    .cd-schedule .events {
        float: left;
        width: 100%;
    }
    .cd-schedule .events .events-group {
        width: 20%;
        float: left;
        border: 1px solid #EAEAEA;
        /* reset style */
        margin-bottom: 0;
    }
    .cd-schedule .events .events-group:not(:first-of-type) {
        border-left-width: 0;
    }
    .cd-schedule .events .top-info {
        /* vertically center its content */
        display: table;
        height: 50px;
        border-bottom: 1px solid #EAEAEA;
        /* reset style */
        padding: 0;
    }
    .cd-schedule .events .top-info > span {
        /* vertically center inside its parent */
        display: table-cell;
        vertical-align: middle;
        padding: 0 .5em;
        text-align: center;
        /* reset style */
        font-weight: normal;
        margin-bottom: 0;
    }
    .cd-schedule .events .events-group > ul {
        height: 950px;
        /* reset style */
        display: block;
        overflow: visible;
        padding: 0;
    }
    .cd-schedule .events .events-group > ul::after {
        clear: both;
        content: "";
        display: block;
    }
    .cd-schedule .events .events-group > ul::after {
        /* reset style */
        display: none;
    }
    .cd-schedule .events .single-event {
        position: absolute;
        z-index: 3;
        /* top position and height will be set using js */
        width: calc(100% + 2px);
        left: -1px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), inset 0 -3px 0 rgba(0, 0, 0, 0.2);
        /* reset style */
        -ms-flex-negative: 1;
        flex-shrink: 1;
        height: auto;
        max-width: none;
        margin-right: 0;
    }
    .cd-schedule .events .single-event a {
        padding: 1.2em;
    }
    .cd-schedule .events .single-event:last-of-type {
        /* reset style */
        margin-right: 0;
    }
    .cd-schedule .events .single-event.selected-event {
        /* the .selected-event class is added when an user select the event */
        visibility: hidden;
    }
}

@media only screen and (min-width: 1000px) {
    .cd-schedule .events {
        /* 60px is the .timeline element width */
        width: calc(100% - 60px);
        margin-left: 60px;
    }
}

.cd-schedule.loading .events .single-event {
    /* the class .loading is added by default to the .cd-schedule element
         it is removed as soon as the single events are placed in the schedule plan (using javascript) */
    opacity: 0;
}

.cd-schedule .event-name,
.cd-schedule .event-date {
    display: block;
    color: white;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.cd-schedule .event-name {
    font-size: 2.4rem;
}

@media only screen and (min-width: 800px) {
    .cd-schedule .event-name {
        font-size: 2rem;
    }
}

.cd-schedule .event-date {
    /* they are not included in the the HTML but added using JavScript */
    font-size: 1.4rem;
    opacity: .7;
    line-height: 1.2;
    margin-bottom: .2em;
}

.cd-schedule .single-event[data-event="event-1"],
.cd-schedule [data-event="event-1"] .header-bg {
    /* this is used to set a background color for the event and the modal window */
    background: #577F92;
}

.cd-schedule .single-event[data-event="event-1"]:hover {
    background: #618da1;
}

.cd-schedule .single-event[data-event="event-2"],
.cd-schedule [data-event="event-2"] .header-bg {
    background: #443453;
}

.cd-schedule .single-event[data-event="event-2"]:hover {
    background: #513e63;
}

.cd-schedule .single-event[data-event="event-3"],
.cd-schedule [data-event="event-3"] .header-bg {
    background: #A2B9B2;
}

.cd-schedule .single-event[data-event="event-3"]:hover {
    background: #b1c4be;
}

.cd-schedule .single-event[data-event="event-4"],
.cd-schedule [data-event="event-4"] .header-bg {
    background: #f6b067;
}

.cd-schedule .single-event[data-event="event-4"]:hover {
    background: #f7bd7f;
}

.cd-schedule .event-modal {
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
    /* Force Hardware acceleration */
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: visibility .4s, -webkit-transform .4s;
    transition: visibility .4s, -webkit-transform .4s;
    transition: transform .4s, visibility .4s;
    transition: transform .4s, visibility .4s, -webkit-transform .4s;
    -webkit-transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
    transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
}

.cd-schedule .event-modal .header {
    position: relative;
    height: 70px;
    /* vertically center its content */
    display: table;
    width: 100%;
}

.cd-schedule .event-modal .header .content {
    position: relative;
    z-index: 3;
    /* vertically center inside its parent */
    display: table-cell;
    vertical-align: middle;
    padding: .6em 5%;
}

.cd-schedule .event-modal .body {
    position: relative;
    width: 100%;
    /* 70px is the .header height */
    height: calc(100% - 70px);
}

.cd-schedule .event-modal .event-info {
    position: relative;
    z-index: 2;
    line-height: 1.4;
    height: 100%;
    overflow: hidden;
}

.cd-schedule .event-modal .event-info > div {
    overflow: auto;
    height: 100%;
    padding: 1.4em 5%;
}

.cd-schedule .event-modal .header-bg, .cd-schedule .event-modal .body-bg {
    /* these are the morphing backgrounds - visible on desktop only */
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.cd-schedule .event-modal .body-bg {
    z-index: 1;
    background: white;
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
}

.cd-schedule .event-modal .header-bg {
    z-index: 2;
    -webkit-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
}

.cd-schedule .event-modal .close {
    /* this is the 'X' icon */
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    background: rgba(0, 0, 0, 0.1);
    /* replace text with icon */
    color: transparent;
    white-space: nowrap;
    text-indent: 100%;
    height: 70px;
    width: 70px;
}

.cd-schedule .event-modal .close::before, .cd-schedule .event-modal .close::after {
    /* these are the two lines of the 'X' icon */
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 22px;
    background: white;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.cd-schedule .event-modal .close::before {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.cd-schedule .event-modal .close::after {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}

.cd-schedule .event-modal .event-date {
    display: none;
}

.cd-schedule .event-modal.no-transition {
    -webkit-transition: none;
    transition: none;
}

.cd-schedule .event-modal.no-transition .header-bg, .cd-schedule .event-modal.no-transition .body-bg {
    -webkit-transition: none;
    transition: none;
}

@media only screen and (min-width: 800px) {
    .cd-schedule .event-modal {
        /* reset style */
        right: auto;
        width: auto;
        height: auto;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        will-change: transform, width, height;
        -webkit-transition: height .4s, width .4s, visibility .4s, -webkit-transform .4s;
        transition: height .4s, width .4s, visibility .4s, -webkit-transform .4s;
        transition: height .4s, width .4s, transform .4s, visibility .4s;
        transition: height .4s, width .4s, transform .4s, visibility .4s, -webkit-transform .4s;
        -webkit-transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
        transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
    }
    .cd-schedule .event-modal .header {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        height: 100%;
    }
    .cd-schedule .event-modal .header .content {
        /* reset style */
        display: block;
        padding: .8em;
    }
    .cd-schedule .event-modal .event-info > div {
        padding: 2em 3em 2em 2em;
    }
    .cd-schedule .event-modal .body {
        height: 100%;
        width: auto;
    }
    .cd-schedule .event-modal .header-bg, .cd-schedule .event-modal .body-bg {
        /* Force Hardware acceleration */
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        will-change: transform;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    .cd-schedule .event-modal .header-bg {
        -webkit-transition: -webkit-transform .4s;
        transition: -webkit-transform .4s;
        transition: transform .4s;
        transition: transform .4s, -webkit-transform .4s;
        -webkit-transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
        transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
    }
    .cd-schedule .event-modal .body-bg {
        opacity: 0;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
    .cd-schedule .event-modal .event-date {
        display: block;
    }
    .cd-schedule .event-modal .close, .cd-schedule .event-modal .event-info {
        opacity: 0;
    }
    .cd-schedule .event-modal .close {
        width: 40px;
        height: 40px;
        background: transparent;
    }
    .cd-schedule .event-modal .close::after, .cd-schedule .event-modal .close::before {
        background: #222222;
        height: 16px;
    }
}

@media only screen and (min-width: 1000px) {
    .cd-schedule .event-modal .header .content {
        padding: 1.2em;
    }
}

.cd-schedule.modal-is-open .event-modal {
    /* .modal-is-open class is added as soon as an event is selected */
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    visibility: visible;
}

.cd-schedule.modal-is-open .event-modal .event-info > div {
    /* smooth scroll on iOS touch devices */
    -webkit-overflow-scrolling: touch;
}

@media only screen and (min-width: 800px) {
    .cd-schedule.animation-completed .event-modal .close,
    .cd-schedule.content-loaded.animation-completed .event-modal .event-info {
        /* 	the .animation-completed class is added when the modal animation is completed
                the .content-loaded class is added when the modal content has been loaded (using ajax) */
        opacity: 1;
        -webkit-transition: opacity .2s;
        transition: opacity .2s;
    }
    .cd-schedule.modal-is-open .body-bg {
        opacity: 1;
        -webkit-transition: -webkit-transform .4s;
        transition: -webkit-transform .4s;
        transition: transform .4s;
        transition: transform .4s, -webkit-transform .4s;
        -webkit-transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
        transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
    }
}

.cd-schedule .cover-layer {
    /* layer between the content and the modal window */
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .4s, visibility .4s;
    transition: opacity .4s, visibility .4s;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

table, caption, tbody, tfoot, thead, tr, th, td{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
    display: block;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.cd-schedule.modal-is-open .cover-layer {
    opacity: 1;
    visibility: visible;
}

#notificationTitle
{
    text-align: center;
    font-weight: bold;
    padding: 8px;
    font-size: 13px;
    background-color: #ffffff;
    position: fixed;
    z-index: 1000;
    min-width: 348px;
    border-bottom: 1px solid #dddddd;
}

.style-1::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.style-1::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

.style-1::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

#notificationsBody
{
    padding: 0px 0px 0px 0px !important;
    height:333px;
    overflow-y: auto;
}

#notificationFooter
{
    background-color: #e9eaed;
    text-align: center;
    font-weight: bold;
    padding: 8px;
    font-size: 12px;
    border-top: 1px solid #dddddd;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    background-color: #b3c2bf;
    color:#fff;
}

* {
    -webkit-border-radius: 1px !important;
    -moz-border-radius: 1px !important;
    border-radius: 1px !important;
}
#logo {
    color: #666;
    width:100%;
}
#logo h1 {
    font-size: 60px;
    text-shadow: 1px 2px 3px #999;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    letter-spacing: -1px;
}
#logo p{
    padding-bottom: 20px;
}


#form-buscar >.form-group >.input-group > .form-control {
    height: 40px;
}
#form-buscar >.form-group >.input-group > .input-group-btn > .btn{
    height: 40px;
    font-size: 16px;
    font-weight: 300;


}
#form-buscar >.form-group >.input-group > .input-group-btn > .btn .glyphicon{
    margin-right:12px;
}


#form-buscar >.form-group >.input-group > .form-control {
    font-size: 16px;
    font-weight: 300;

}

#form-buscar >.form-group >.input-group > .form-control:focus {
    border-color: #b3c2bf;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 1px #b3c2bf;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 1px #b3c2bf;
}

#search {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);

    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

    -webkit-transform: translate(0px, -100%) scale(0, 0);
    -moz-transform: translate(0px, -100%) scale(0, 0);
    -o-transform: translate(0px, -100%) scale(0, 0);
    -ms-transform: translate(0px, -100%) scale(0, 0);
    transform: translate(0px, -100%) scale(0, 0);

    opacity: 0;
}

.deepshadow {
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
}

#search.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
    -o-transform: translate(0px, 0px) scale(1, 1);
    -ms-transform: translate(0px, 0px) scale(1, 1);
    transform: translate(0px, 0px) scale(1, 1);
    opacity: 1;
}

#search input[type="search"] {
    position: absolute;
    top: 50%;
    width: 100%;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    border: 0px;
    margin: 0px auto;
    margin-top: -51px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
}
#search .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 61px;
    margin-left: -45px;
}
#search .close {
    position: fixed;
    top: 15px;
    right: 15px;
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
    opacity: 1;
    padding: 10px 17px;
    font-size: 27px;
}

#nav li::after {

    content: "|";

    padding-right: 5px;

    padding-left: 5px;

}

@media (max-width: 767px) {
    .navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu > li > a {
        padding: 10px;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{
        background: #3b3a36;
        color: white;
    }
}

.btn-default{
    background-color: #b3c2bf;
    color:#fff;
    border-color: #b3c2bf;
    -webkit-transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;

}

.navbar-toggle {
    border: none;
    background: transparent !important;
}
.navbar-toggle:hover {
    background: transparent !important;
}
.navbar-toggle .icon-bar {
    width: 22px;
    transition: all 0.2s;
}
.navbar-toggle .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
    opacity: 0;
}
.navbar-toggle .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
    transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
    opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
    transform: rotate(0);
}

.btn-default:hover{
    border-color: #3b3a36;
    background-color: #3b3a36;
    color:#fff;
}

.button_sliding_bg_2 {
    color: #3c948b;
    background: transparent;
    padding: 3px 10px;
    margin: 25px;
    font-family: 'OpenSansBold', sans-serif;
    border: 3px solid #3c948b;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 2px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #3c948b;
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    transition: all ease 0.8s;
}
.button_sliding_bg_2:hover {
    box-shadow: inset 0 100px 0 0 #3c948b;
    color: #FFF;
}

.button_sliding_bg {
    color: #3b3a36;
    background: transparent;
    padding: 3px 10px;
    margin: 25px;
    font-family: 'OpenSansBold', sans-serif;
    border: 3px solid #3b3a36;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 2px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #3b3a36;
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    transition: all ease 0.8s;
}
.button_sliding_bg:hover {
    box-shadow: inset 0 100px 0 0 #3b3a36;
    color: #FFF;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
    color: #fff;
    background-color: #b3c2bf;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text {
    color: #3b3a36;
}

.navbar-fixed-top{
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    z-index: 4000;
}

.underline{
    position: relative;
    color: #666;
    text-decoration: none;
}
.underline:hover{
    color: #a0af00;
}
.underline:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 10px;
    left: 0;
    background-color: #a0af00;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.underline:hover:before{
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.button1:hover {
    background-color: transparent;
    color: #3c948b;
    border-color: #3c948b;
    border-width:3px;
}

.button1
{
    cursor:pointer;
    font-size:large;
    padding: 5px 5px;
    background-color: #3c948b;
    border: 3px solid transparent;
    color: #ffffff;
    font-weight: bold;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.nav-tabs { border-bottom: 2px solid #DDD; }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; background: transparent; }
.nav-tabs > li > a { border: none; color: #666; }
.nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #4285F4 !important; background: transparent; }
.nav-tabs > li > a::after { content: ""; background: #4285F4; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.tab-pane {}
.tab-content{background-color: white;}

/*
Header
*/
.notification{
    position:absolute;
    text-align: center;
    color: white;
    left:-7px;
    top:7px;
    background-color:#3c948b;
    line-height:20px;
    width:20px;
    height:20px;
    border-radius:10px;
}
h4 a:hover, a {
 text-decoration: none;
 color: #b3c2bf;
}
a {
 color: #b3c2bf;
}
a:hover {
 text-decoration: none;
 color: #3b3a36;
}
h4 a {
 font-size: 20px;
 color: #b3c2bf;
    border-bottom: 2px solid #3c948b;
    padding-bottom: 5px;
}
.modal{
    margin-top: 50px;
}

.row p {
    text-align: center;
}

.row ul {
 padding-left: 2px;
}
.center-block {
 width: 100%;
}
.notification-box {
 width: 70%;
    margin-left: 13%;
 margin-bottom: 8px;
 padding: 15px;
 background: #3c948b;
 border-radius: 5px;
 text-align: center;
 font-weight: bold;
 color: white;
    box-shadow: 5px 5px 5px grey;
}

.alert {
    text-align: center;
}

.popover {
 max-width: none;
}

.glyphicon {
 margin-right:.25em;
}

.table-bordered>thead>tr>td {
 border-bottom-width: 1px;
}

.table tbody>tr>td, .table thead>tr>td {
 padding-top: 3px;
 padding-bottom: 3px;
}

.table-condensed tbody>tr>td {
 padding-top: 0;
 padding-bottom: 0;
}

.table .progress {
 margin-bottom: inherit;
}

.table-borderless th, .table-borderless td {
 border: 0 !important;
}

.table tbody tr.covered-by-large-tests, li.covered-by-large-tests, tr.success, td.success, li.success, span.success {
 background-color: #dff0d8;
}

.table tbody tr.covered-by-medium-tests, li.covered-by-medium-tests {
 background-color: #c3e3b5;
}

.table tbody tr.covered-by-small-tests, li.covered-by-small-tests {
 background-color: #99cb84;
}

.table tbody tr.danger, .table tbody td.danger, li.danger, span.danger {
 background-color: #f2dede;
}

.table tbody td.warning, li.warning, span.warning {
 background-color: #fcf8e3;
}

.table tbody td.info {
 background-color: #d9edf7;
}

td.big {
 width: 117px;
}

td.small {
}

td.codeLine {
 font-family: monospace;
 white-space: pre;
}

td span.comment {
 color: #888a85;
}

td span.default {
 color: #2e3436;
}

td span.html {
 color: #888a85;
}

td span.keyword {
 color: #2e3436;
 font-weight: bold;
}

pre span.string {
 color: #2e3436;
}

span.success, span.warning, span.danger {
 margin-right: 2px;
 padding-left: 10px;
 padding-right: 10px;
 text-align: center;
}

#classCoverageDistribution, #classComplexity {
 height: 200px;
 width: 475px;
}

#toplink {
 position: fixed;
 left: 5px;
 bottom: 5px;
 outline: 0;
}

svg text {
 font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
 font-size: 11px;
 color: #666;
 fill: #666;
}

.scrollbox {
 height:245px;
 overflow-x:hidden;
 overflow-y:scroll;
}
.center-block {
 margin-left:auto;
 margin-right:auto;
 display:block;
}

.text-center {
 text-align:center
}
.dashboard-options .active {
 background-color: #b3c2bf;
 color: white;
 font-weight: bold;
}

.dropdown-menu>li>a:hover{
    background-color: #3b3a36;
    color: #fff;
}

.dropdown-menu>li>a{
    border-bottom: 1px solid #e9ece5;
    padding: 10px;
    font-size: medium;
}

.navbar-nav>li>.dropdown-menu {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    text-align: center;
}

.dashboard-options{
    color:#3b3a36;
}

.dashboard-options a:hover {
 background-color: #b3c2bf;
 color: white;
    font-weight: bold;
}

.dashboard-options a:active {
 background-color: #b3c2bf;
 color: white;
}
.searchbar {
 width: 69%;
}
.searchform {
 /*width: 300px;*/
 text-align: center;
 margin: auto;
 display: block;
}

.searchbar input[type="text"] {
 width: 230px;
}
.searchuser {
 width: 70%;
 display: inline-block;
}

#notifications {
 height: 410px;
 overflow-x: hidden;
 padding: 0px;
}

#notifications ul {
 padding: 0px;
 /*padding: 5px;*/
 /*padding*/
}

#notifications li {
 /*width: 98%;*/
 padding: 10px;
 border-bottom: 1px solid #e2e2e2;
 margin-bottom: 3px;
}

#notifications li:hover {
 background: #b3c2bf;
 color: white;
}

#notifications li:last-child {
 border: none;
}

#notifications li a {
 color: inherit;
 text-decoration: none;
}

.modal {
 color: #005C31;
}

.btn.btn-success {
 background: #439D1C;
 border-color: #439D1C;
}

.btn.btn-success:hover {
 background: #308A0E;
}

.btn.btn-warning {
 background: #9D4135;
 border-color: #9D4135;
}
.btn.btn-warning:hover {
 background: #89150E;
}

.actionbtn {
 width: 100%;
 margin-bottom: 10px;
}
.actionbtn button {
 margin: auto;
 margin-botton: 5px;
}

.morelink {
 text-align: center;
 width: 40%;
 margin: auto;
 display: block;
 font-weight: bold;
}
.requests .notification-box {
 width: 80%;
}

.courses .notification-box , .scheduled .notification-box {
 width: 90%;
 margin-bottom: 25px;
}
.timetable.table td, .timetable.table th {
 text-align: center;
 padding: 16px;
}

.timetable-full {
    min-width: 979px;
    min-height: 629px;
    background: white;
}

.timetable-medium {
    min-width: 949px;
    min-height: 629px;
    background: white;
}

.timetable-modal {
    min-width: 868px;
    min-height: 629px;
    background: white;
}

.courses {
 position: relative;
}

.myCourseColor {
    background-color: #2ca02c;
}

.ttElement {
    position: absolute;
    background-color: #3c948b;
    width: 167px;
    display: inline-block;
    border: 1px solid #797979   ;
    border-right: none;
    overflow: hidden;
    -webkit-transition: height ease 1s;
    -moz-transition: height ease 1s;
    -o-transition: height ease 1s;
    transition: height ease 1s;
    font-size: 9px;

}

.timetable-legend {
    width: 100%;
    display: block;
    height: 30px;
}

.timetable-legend ul {
    list-style: none;
}

.timetable-legend ul li {
    float: left;
    margin: 5px;
}

.yourCourses {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #2ca02c;
}

.theirCourses {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #3c948b;
}

.meetingBox {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #2ca02c;
    opacity: 0.5;
}



#timetable td:hover {
    background: #B6DDE0;
}

.timetable td:hover {
    background: #B6DDE0;
}
/*.ttElement:hover{*/
 /*height:90px !important;*/
 /*-webkit-transition: height ease 1s;*/
 /*-moz-transition: height ease 1s;*/
 /*-o-transition: height ease 1s;*/
 /*transition: height ease 1s;*/
/*}*/

.hover-action {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 4px;
    display: none;
}

.hover-action i {
    margin-left: 5px;
}

.meetBtn {
    position: absolute;
    width: 100%;
    left: 0pt;
    top:90%;
    font-weight: 400;
    background: #367994;
    color: white;
    padding: 7px;
    border-radius: 3px;
    box-shadow: 5px 5px 5px grey;
}

.meetBtn a {
    color: white;
    text-decoration: none;
}

.meetBtn:hover {
    background: #1B3D4A;
}

.notification-time {
    display: block;
    font-size: 10px;
    color: #878687;
}

.meetingElement{
    cursor: pointer;
}