body {
    padding-top:51px;
    background-color: #e9ece5;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    background-color: #b3c2bf;
    color:#fff;
}

.btn-default{
    background-color: #b3c2bf;
    color:#fff;
    border-color: #b3c2bf;

}
.btn-default:hover{
    border-color: #b3c2bf;
    background-color: #b3c2bf;
    color:#fff;
}

.button_sliding_bg_2 {
    color: #3c948b;
    background: transparent;
    padding: 3px 10px;
    margin: 25px;
    font-family: 'OpenSansBold', sans-serif;
    border: 3px solid #3c948b;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 2px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #3c948b;
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    transition: all ease 0.8s;
}
.button_sliding_bg_2:hover {
    box-shadow: inset 0 100px 0 0 #3c948b;
    color: #FFF;
}

.button_sliding_bg {
    color: #3b3a36;
    background: transparent;
    padding: 3px 10px;
    margin: 25px;
    font-family: 'OpenSansBold', sans-serif;
    border: 3px solid #3b3a36;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 2px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #3b3a36;
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    transition: all ease 0.8s;
}
.button_sliding_bg:hover {
    box-shadow: inset 0 100px 0 0 #3b3a36;
    color: #FFF;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
    color: #fff;
    background-color: #b3c2bf;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text {
    color: #3b3a36;
}

.navbar-fixed-top{
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    z-index: 4000;
}

.underline{
    position: relative;
    color: #666;
    text-decoration: none;
}
.underline:hover{
    color: #a0af00;
}
.underline:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 10px;
    left: 0;
    background-color: #a0af00;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.underline:hover:before{
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.button1:hover {
    background-color: transparent;
    color: #3c948b;
    border-color: #3c948b;
    border-width:3px;
}

.button1
{
    cursor:pointer;
    font-size:large;
    padding: 5px 5px;
    background-color: #3c948b;
    border: 3px solid transparent;
    color: #ffffff;
    font-weight: bold;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.nav-tabs { border-bottom: 2px solid #DDD; }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; background: transparent; }
.nav-tabs > li > a { border: none; color: #666; }
.nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #4285F4 !important; background: transparent; }
.nav-tabs > li > a::after { content: ""; background: #4285F4; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.tab-pane {}
.tab-content{background-color: white;}

/*
Header
*/
.notification{
    position:absolute;
    text-align: center;
    color: white;
    left:-7px;
    top:7px;
    background-color:#3c948b;
    line-height:20px;
    width:20px;
    height:20px;
    border-radius:10px;
}
h4 a:hover, a {
 text-decoration: none;
 color: #b3c2bf;
}
a {
 color: #b3c2bf;
}
a:hover {
 text-decoration: none;
 color: #3b3a36;
}
h4 a {
 font-size: 20px;
 color: #b3c2bf;
    border-bottom: 2px solid #3c948b;
    padding-bottom: 5px;
}
.modal{
    margin-top: 50px;
}

.row p {
    text-align: center;
}

.row ul {
 padding-left: 2px;
}
.center-block {
 width: 100%;
}
.notification-box {
 width: 70%;
    margin-left: 13%;
 margin-bottom: 8px;
 padding: 15px;
 background: #3c948b;
 border-radius: 5px;
 text-align: center;
 font-weight: bold;
 color: white;
    box-shadow: 5px 5px 5px grey;
}

.alert {
    text-align: center;
}

.popover {
 max-width: none;
}

.glyphicon {
 margin-right:.25em;
}

.table-bordered>thead>tr>td {
 border-bottom-width: 1px;
}

.table tbody>tr>td, .table thead>tr>td {
 padding-top: 3px;
 padding-bottom: 3px;
}

.table-condensed tbody>tr>td {
 padding-top: 0;
 padding-bottom: 0;
}

.table .progress {
 margin-bottom: inherit;
}

.table-borderless th, .table-borderless td {
 border: 0 !important;
}

.table tbody tr.covered-by-large-tests, li.covered-by-large-tests, tr.success, td.success, li.success, span.success {
 background-color: #dff0d8;
}

.table tbody tr.covered-by-medium-tests, li.covered-by-medium-tests {
 background-color: #c3e3b5;
}

.table tbody tr.covered-by-small-tests, li.covered-by-small-tests {
 background-color: #99cb84;
}

.table tbody tr.danger, .table tbody td.danger, li.danger, span.danger {
 background-color: #f2dede;
}

.table tbody td.warning, li.warning, span.warning {
 background-color: #fcf8e3;
}

.table tbody td.info {
 background-color: #d9edf7;
}

td.big {
 width: 117px;
}

td.small {
}

td.codeLine {
 font-family: monospace;
 white-space: pre;
}

td span.comment {
 color: #888a85;
}

td span.default {
 color: #2e3436;
}

td span.html {
 color: #888a85;
}

td span.keyword {
 color: #2e3436;
 font-weight: bold;
}

pre span.string {
 color: #2e3436;
}

span.success, span.warning, span.danger {
 margin-right: 2px;
 padding-left: 10px;
 padding-right: 10px;
 text-align: center;
}

#classCoverageDistribution, #classComplexity {
 height: 200px;
 width: 475px;
}

#toplink {
 position: fixed;
 left: 5px;
 bottom: 5px;
 outline: 0;
}

svg text {
 font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
 font-size: 11px;
 color: #666;
 fill: #666;
}

.scrollbox {
 height:245px;
 overflow-x:hidden;
 overflow-y:scroll;
}
.center-block {
 margin-left:auto;
 margin-right:auto;
 display:block;
}

.text-center {
 text-align:center
}
.dashboard-options .active {
 background-color: #b3c2bf;
 color: white;
 font-weight: bold;
}

.dropdown-menu>li>a:hover{
    background-color: #b3c2bf;
    color: #fff;
}

.dropdown-menu>li>a{
    border-bottom: 1px solid #e9ece5;
    padding: 10px;
    font-size: medium;
}

.navbar-nav>li>.dropdown-menu {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    text-align: center;
}

.dashboard-options{
    color:#3b3a36;
}

.dashboard-options a:hover {
 background-color: #b3c2bf;
 color: white;
    font-weight: bold;
}

.dashboard-options a:active {
 background-color: #b3c2bf;
 color: white;
}
.searchbar {
 width: 69%;
}
.searchform {
 /*width: 300px;*/
 text-align: center;
 margin: auto;
 display: block;
}

.searchbar input[type="text"] {
 width: 230px;
}
.searchuser {
 width: 70%;
 display: inline-block;
}

#notifications {
 height: 400px;
 overflow: visible;
 padding: 0px;
}

#notifications ul {
 padding: 0px;
 /*padding: 5px;*/
 /*padding*/
}

#notifications li {
 /*width: 98%;*/
 padding: 15px;
 border-bottom: 1px solid #e2e2e2;
 margin-bottom: 3px;
}

#notifications li:hover {
 background: #b3c2bf;
 color: white;
}

#notifications li:last-child {
 border: none;
}

#notifications li a {
 color: inherit;
 text-decoration: none;
}

.modal {
 color: #005C31;
}

.btn.btn-success {
 background: #439D1C;
 border-color: #439D1C;
}

.btn.btn-success:hover {
 background: #308A0E;
}

.btn.btn-warning {
 background: #9D4135;
 border-color: #9D4135;
}
.btn.btn-warning:hover {
 background: #89150E;
}

.actionbtn {
 width: 100%;
 margin-bottom: 10px;
}
.actionbtn button {
 margin: auto;
 margin-botton: 5px;
}

.morelink {
 text-align: center;
 width: 40%;
 margin: auto;
 display: block;
 font-weight: bold;
}
.requests .notification-box {
 width: 80%;
}

.courses .notification-box , .scheduled .notification-box {
 width: 90%;
 margin-bottom: 25px;
}
.timetable.table td, .timetable.table th {
 text-align: center;
 padding: 16px;
}

.courses {
 position: relative;
}

.myCourseColor {
    background-color: #2ca02c;
}

.ttElement {
    position: absolute;
    background-color: #3c948b;
    width: 167px;
    display: inline-block;
    border: 1px solid #797979   ;
    border-right: none;
    overflow: hidden;
    -webkit-transition: height ease 1s;
    -moz-transition: height ease 1s;
    -o-transition: height ease 1s;
    transition: height ease 1s;
    font-size: 9px;

}

.timetable-legend {
    width: 100%;
    display: block;
    height: 30px;
}

.timetable-legend ul {
    list-style: none;
}

.timetable-legend ul li {
    float: left;
    margin: 5px;
}

.yourCourses {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #2ca02c;
}

.theirCourses {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #3c948b;
}

.meetingBox {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #2ca02c;
    opacity: 0.5;
}



#timetable td:hover {
    background: #B6DDE0;
}

.timetable td:hover {
    background: #B6DDE0;
}
/*.ttElement:hover{*/
 /*height:90px !important;*/
 /*-webkit-transition: height ease 1s;*/
 /*-moz-transition: height ease 1s;*/
 /*-o-transition: height ease 1s;*/
 /*transition: height ease 1s;*/
/*}*/

.hover-action {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 4px;
    display: none;
}

.hover-action i {
    margin-left: 5px;
}

.meetBtn {
    position: absolute;
    width: 100%;
    left: 0pt;
    top:90%;
    font-weight: 400;
    background: #367994;
    color: white;
    padding: 7px;
    border-radius: 3px;
    box-shadow: 5px 5px 5px grey;
}

.meetBtn a {
    color: white;
    text-decoration: none;
}

.meetBtn:hover {
    background: #1B3D4A;
}

.notification-time {
    display: block;
    font-size: 10px;
    color: #878687;
}