body {
 padding-top: 70px;
 background: #001F10;
}

/*
Header
*/

h4 a:hover, a {
 text-decoration: none;
 color: #008245;
}
a {
 color: #00A357;
}
a:hover {
 text-decoration: none;
 color: #004223;
}
h4 a {
 font-size: 20px;
 color: #00A357;
}
h4 {
 color: #008245;
 text-align: center;
    margin-bottom: 15px;
}

.row p {
    text-align: center;
}

.row ul {
 padding-left: 2px;
}
.center-block {
 width: 100%;
}
.notification-box {
 width: 70%;
 margin:auto;
 margin-bottom: 8px;
 padding: 15px;
 background: #00A357;
 border-radius: 5px;
 text-align: center;
 font-weight: bold;
 color: white;

}
.notification-box:hover {
 background: #008245;
}

.alert {
    text-align: center;
}

.popover {
 max-width: none;
}

.glyphicon {
 margin-right:.25em;
}

.table-bordered>thead>tr>td {
 border-bottom-width: 1px;
}

.table tbody>tr>td, .table thead>tr>td {
 padding-top: 3px;
 padding-bottom: 3px;
}

.table-condensed tbody>tr>td {
 padding-top: 0;
 padding-bottom: 0;
}

.table .progress {
 margin-bottom: inherit;
}

.table-borderless th, .table-borderless td {
 border: 0 !important;
}

.table tbody tr.covered-by-large-tests, li.covered-by-large-tests, tr.success, td.success, li.success, span.success {
 background-color: #dff0d8;
}

.table tbody tr.covered-by-medium-tests, li.covered-by-medium-tests {
 background-color: #c3e3b5;
}

.table tbody tr.covered-by-small-tests, li.covered-by-small-tests {
 background-color: #99cb84;
}

.table tbody tr.danger, .table tbody td.danger, li.danger, span.danger {
 background-color: #f2dede;
}

.table tbody td.warning, li.warning, span.warning {
 background-color: #fcf8e3;
}

.table tbody td.info {
 background-color: #d9edf7;
}

td.big {
 width: 117px;
}

td.small {
}

td.codeLine {
 font-family: monospace;
 white-space: pre;
}

td span.comment {
 color: #888a85;
}

td span.default {
 color: #2e3436;
}

td span.html {
 color: #888a85;
}

td span.keyword {
 color: #2e3436;
 font-weight: bold;
}

pre span.string {
 color: #2e3436;
}

span.success, span.warning, span.danger {
 margin-right: 2px;
 padding-left: 10px;
 padding-right: 10px;
 text-align: center;
}

#classCoverageDistribution, #classComplexity {
 height: 200px;
 width: 475px;
}

#toplink {
 position: fixed;
 left: 5px;
 bottom: 5px;
 outline: 0;
}

svg text {
 font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
 font-size: 11px;
 color: #666;
 fill: #666;
}

.scrollbox {
 height:245px;
 overflow-x:hidden;
 overflow-y:scroll;
}
.center-block {
 margin-left:auto;
 margin-right:auto;
 display:block;
}

.text-center {
 text-align:center
}
.dashboard-options .active {
 background-color: #00A357;
 color: white;
 font-weight: bold;
}

.dashboard-options a {
 text-decoration: none;
}

.dashboard-options a:hover {
 background-color: #00A357;
 color: white;
}

.dashboard-options a:active {
 background-color: #00A357;
 color: white;
}
.searchbar {
 width: 69%;
}
.searchform {
 /*width: 300px;*/
 text-align: center;
 margin: auto;
 display: block;
}

.searchbar input[type="text"] {
 width: 230px;
}
.searchuser {
 width: 70%;
 display: inline-block;
}

#notifications {
 height: auto;
 overflow: visible;
 padding: 0px;
}

#notifications ul {
 padding: 0px;
 /*padding: 5px;*/
 /*padding*/
}

#notifications li {
 /*width: 98%;*/
 padding: 15px;
 border-bottom: 1px solid #e2e2e2;
 margin-bottom: 3px;
}

#notifications li:hover {
 background: #00A357;
 color: white;
}

#notifications li:last-child {
 border: none;
}

#notifications li a {
 color: inherit;
 text-decoration: none;
}

.btn.btn-primary {
 background: #008245;
}

.btn.btn-primary:hover {
 background: #005C31;
}

.panel-heading, .panel-heading:hover, .active, .active:hover {
 background: #00A357;
 color: white;
}

.modal {
 color: #005C31;
}

.btn.btn-success {
 background: #439D1C;
 border-color: #439D1C;
}

.btn.btn-success:hover {
 background: #308A0E;
}

.btn.btn-warning {
 background: #9D4135;
 border-color: #9D4135;
}
.btn.btn-warning:hover {
 background: #89150E;
}

.actionbtn {
 width: 100%;
 margin-bottom: 10px;
}
.actionbtn button {
 margin: auto;
 margin-botton: 5px;
}

.morelink {
 text-align: center;
 width: 40%;
 margin: auto;
 display: block;
 font-weight: bold;
}
.requests .notification-box {
 width: 80%;
}

.courses .notification-box , .scheduled .notification-box {
 width: 90%;
 margin-bottom: 25px;
}